.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex-grow: 1;
}

header {
  padding: 40px 0;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  color: rgb(27, 27, 27);
  border-radius: 2rem;
  
  transition: .3s;
}

header nav ul li a:hover {
  color: rgb(211, 73, 9);
}

header nav ul li a.active {
  color: rgb(211, 73, 9);
  background: rgb(27, 27, 27);
  border-radius: 2rem;
  padding: 20px 40px;
}